@font-face {
    font-family: 'Copperplate Gothic Bold';
    src: url('./fonts/CopperplateGothicBold.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Baskerville Old Face';
    src: url('./fonts/baskerville-old-face.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  
  